/* Reset et styles globaux */
body, html, #root {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
}

.ant-layout {
  background: #fff;
}

h2 {
  margin-bottom: 24px;
}
